.nav-bar{
    height: 44px;
    line-height: 44px;
    display: flex;
}
.nav-left,.nav-right{
    width: 80px;
    height: 44px;
    text-align: center;
    background-color: pink;
}
.nav-center{
    flex:1;
    height: 44px;
    text-align: center;
}